*{
    margin: 0;
    padding: 0;
}


.top{
    /* 设置宽度高度背景颜色 */
    height:auto; /*高度改为自动高度*/
    width:100%;
    margin-left:0;
    /*margin-right: ;*/
    background:rgb(189, 181, 181);
    position: relative; /*fixed固定在顶部*/
    top: -4px;/*离顶部的距离为0*/
    margin-bottom: 5px;
}
.top ul{
    /* 清除ul标签的默认样式 */
    height: 61px;
    width:750px;/*宽度也改为自动*/
    list-style-type: none;
    white-space:nowrap;
    overflow: hidden;
    margin-left: 5%;
    /* margin-top: 0;          */
    padding: 0;
}
.top li {
    margin-top: 18px;
    float:left; /* 使li内容横向浮动，即横向排列  */
    margin-right:12%;  /* 两个li之间的距离*/
    position: relative;
    overflow: hidden;
}
.top li a{
   /* 设置链接内容显示的格式*/
    display: block; /* 把链接显示为块元素可使整个链接区域可点击 */
    color:white;
    text-align: center;
    padding: 3px;
    overflow: hidden;
    text-decoration: none; /* 去除下划线 */
}
.top li a:hover{
    /* 鼠标选中时背景变为黑色 */
    background-color: #111;
}
        /*
        .top ul li ul{
            /* 设置二级菜单 
            margin-left: -0.2px;
            background:rgb(189, 181, 181);
            position: relative;
            display: none; /* 默认隐藏二级菜单的内容 

        }
        .top ul li ul li{
            /* 二级菜单li内容的显示 
            
            float:none;
            text-align: center;
        }

        .top ul li:hover ul{
            /*鼠标选中二级菜单内容时 
            display: block;
        }*/
body{
    background:#eff3f5;
}


li{
    list-style-type: none;
}
#topPart{
    background-color: #aaaaaa;
    height:20px;
    margin-bottom: 18px;
}
#topPartImg{
    position: relative;
    left: 260px;
    float: left;
}
.box{
    width:600px;/*1200px*/
    height:800px;/*397px*/
    border:2px solid #d2691e;
    margin: 100px auto;/*100px*/
    margin-top: 50px;
    margin-left: 300px;
    position: relative;
    overflow: hidden;
}
.slider{
    width: 4200px;
    position: absolute;
    left: -600px;
}
.slide{
    width: 600px;
    overflow: hidden;
    float: left;
}
.slide>img{
    height: 800px;/*397px*/
}
.box>span{
    display: block;
    width:40px;
    height: 60px;
    text-align: center;
    cursor: pointer;
    color: white;
    top:380px;/*675*/
    line-height: 50px;
    background: rgb(255,0,0);
    font-size: 30px;
    position: absolute;
    opacity: 0;
}
#nav{
    position: relative;
    left:220px;/*460*/
    top: 760px;/*340*/
}
.nav>li{
    float: left;
    width:20px;
    height:20px;
    background: #ccc;
    cursor: pointer;
    margin-right: 20px;
    border-radius:50%;
    text-align: center;
}
.nav .active{
    background: red;
    color: white;
}
#left{
    left: 30px;
}
#right{
    right: 30px;
}
#topPart>div{
    /*border: #829606 1px solid;*/
    position: relative;
    width: 840px;
    left:260px;
    float: left;
    overflow: hidden;
}
#topPart>div>p{
    position: relative;
    text-align: center;
    color: red;
    font-size: 12px;
    left: 360px;
    /*left: -360px;*/
}